.hero {
    width: 100%;
    height: auto;
    background: radial-gradient(circle at 1px 1px, rgba(65, 86, 73, .25) 1px, transparent 0);
    background-size: 20px 20px;
    background-position: 50%;
    padding: calc(var(--header-y) + 40px) 0 80px 0;

    .cnt_wrap {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .spot_info {
            font-size: 12px;
            line-height: 1;
            font-weight: 400;
            color: white;
            display: inline-block;
            gap: 10px;
            padding: 5px 10px;
            backdrop-filter: blur(10px);
            background-color: rgba(white, 0.1);
            border: 1px solid rgba(white, 0.2);
            border-radius: 10px;
            margin: auto;
            margin-bottom: 40px;

            span {
                width: 10px;
                height: 10px;
                background-color: rgba(white, 0.6);
                border-radius: 50%;
                box-shadow: 0 0 10px 10px rgba(white, 0.1);
                display: inline-block;
            }
        }

        .m_tle {
            font-size: 48px;
            line-height: 1.2;
            font-weight: 400;
            text-align: center;
            color: white;
            margin-bottom: 20px;
        }
    }

    .btn_wrap {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    %btn_1 {
        all: inherit;
        font-size: 18px;
        line-height: 1;
        font-weight: 400;
        text-align: center;
        color: white;
        width: 100%;
        height: 50px;
        border: 1px solid var(--base-1);
        border-radius: 50px;
        background-color: var(--base-1);
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        padding: 10px 20px;

    }

    .btn_1 {
        @extend %btn_1;
    }

    .btn_2 {
        @extend %btn_1;
        border-color: var(--base-2);
        background-color: var(--base-2);
    }
}

.specs{
    .specs_bx{
        width: 100%;
        height: auto;
        display: block;
        .img_wrap{
            width: 100%;
            height: auto;
            display: block;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .cnt_wrap{
            width: 100%;
            height: auto;
            display: block;
            &>*{
                margin: 15px 0;

            }
        }
        .info{
            font-size: 16px;
            line-height: 1;
            font-weight: 400;
            color: white;
            display: flex;
            column-gap: 10px;
        }
        .tle{
            font-size: 28px;
            line-height: 1.2;
            font-weight: 400;
            color: white;
        }
        .txt{
            font-size: 16px;
            line-height: 1.2;
            font-weight: 400;
            color: white;
        }
        .rd_more{
            width: 60px;
            height: 60px;
            background-color: rgba(white, 0.1);
            backdrop-filter: blur(10px);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 14px;
                height: auto;
                display: block;
            }
        }
    }
}