.header{
width: 100%;
height: var(--header-y);
display: block;
position: absolute;
z-index: 999;
top: 0;
left: 0;
right: 0;
}
.container{
  height: 100%;
}
.d_flx{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-size: 30px;
  font-weight: bold;
}